@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide >div {
  margin: 0 50px;
}

.slick-arrow::before {
  color: #563AE0;
  font-size: 50px;
}

@media only screen  and (max-width:768px){
  .slick-slide >div {
    margin: 0 30px;
  }
}
@media only screen  and (max-width:600px){
  .slick-slide >div {
    margin: 0 10px;
  }
}